// colors 
$main-color: (
  light: #F0F2EF,
  dark: #011627,
);

$sub-color: (
    light: #091540,
    dark: #877B66,
);

$dark-extra-color: ( 
   color1 : #611C35,
   color2 : #F6F7F8,
   color3 : #f7ede2,
);

$light-extra-color: (
    color1 : #5c5346,
    color2 : #f6f7f8,
    color3 : #f7ede2,
)